@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Hi</h1>
    @* <p>@Html.ActionLink("See all items", "Index", "Items")</p>  *@
    @* <p>@Html.ActionLink("Add items", "Create","Items")</p>  *@
    <a href="/items">See all items</a>
    <a href="/items/create">create</a>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
